[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mizlab-tools = {ref = "main", git = "https://github.com/MizLab/mizlab-tools.git"}
pandas = "*"
biopython = "*"
keras = "*"
pyyaml = "*"
matplotlib = "*"
tensorflow = "*"
numpy = "*"
scikit-learn = "*"
seaborn = "*"
japanize-matplotlib = "*"
pydot = "*"

[dev-packages]
yapf = "*"
flake8 = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.8"
