[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mizlab-tools = {ref = "main", git = "https://github.com/MizLab/mizlab-tools.git"}
pandas = "*"
biopython = "*"
keras = "*"
pyyaml = "*"
matplotlib = "*"
tensorflow = "*"
numpy = "*"
scikit-learn = "*"
seaborn = "*"
japanize-matplotlib = "*"
pydot = "*"

[dev-packages]
yapf = "*"
flake8 = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.8"

[scripts]
learning = "python src/ml/cnn_stack.py --config config.yml --acc2class data/json/acc2taxon.json"
learn_gravity = "python src/ml/cnn_stack.py --config config.yml --acc2class data/json/acc2taxon.json --img-dir data/img_gravity"
learn_xy = "python src/ml/cnn_stack.py --config config.yml --acc2class data/json/acc2taxon.json --use-xy-only"
learn_parallel = "python src/ml/cnn_stack.py --config config.yml --acc2class data/json/acc2taxon.json --parallel"
